[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/unity"]
	path = dependencies/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
