[submodule "dependencies/external/unity"]
	path = dependencies/external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "dependencies/external/glfw"]
	path = dependencies/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/external/cglm"]
	path = dependencies/external/cglm
	url = https://github.com/recp/cglm.git
